In [2]:
import mysql.connector
def get_data_from_db(query):
    conn = mysql.connector.connect(
            host = "readreplica.ci9kqv9mlekc.ap-south-1.rds.amazonaws.com",
            user = "pikachu",
            passwd = "crofarm123abc",
            )
    cur = conn.cursor()
    cur.execute(query)
    rows = cur.fetchall()
    print(rows)
    return rows

In [8]:
call_queries = ['''insert into temp_finance.comaplint_test select complaint_order_id, complaint_date,case when date_format(cd,"%u") = '00' then '53' else date_format(cd,"%u") end as wk,date_format(cd,"%m") as mnth, delivery_date,title, agent_id, partner_name, shop_name,consumer_id,consumer_name,phone,group_concat(prod_id) as product_ids, group_concat(prod_name) as product_names,refunded_on_order, RM, KAM,status,DC,sum(refund_amount) as refund_amount from(select tk.order_id as complaint_order_id,co.status,tk.n_slot_id as complaint_date,co.n_slot_id as delivery_date, concat('20',SUBSTRING(tk.n_slot_id,1,2),'/',SUBSTRING(tk.n_slot_id,3,2),'/', SUBSTRING(tk.n_slot_id,5,2)) as cd, tk.agent_id, cc.name as partner_name, cc.shop_name,tk.consumer_id, cn.name as consumer_name, cn.phone, od.prod_id, od.prod_name, od.price*od.quantity as prod_value,sd.title as title, tk.total_refunded as refunded_on_order, pbm.ba_id as RM, cba.name as KAM, case when co.distributor_id = 6 then 'Gurgaon' when co.distributor_id = 8 then 'Noida' when co.distributor_id = 13 then 'Mumbai' end as DC, it.refund_amount from consumer.cn_ticket tk inner join consumer.cn_issue_item it on it.ticket_id = tk.id inner join consumer.cn_order_data od on od.id = it.item_id inner join consumer.cn_issue sd on sd.id = it.issue_id inner join consumer.cn_order co on co.id = tk.order_id left join consumer.cn_consumer cn on co.consumer_id = cn.id left join crofarmUsers.cr_retailer cc on co.agent_id = cc.id left join crofarmUsers.cr_zone_polygon czp on cc.zone_polygon_id = czp.id left join crofarmUsers.cr_business_associate cba on cc.business_associate_id = cba.id left join crofarmUsers.partner_ba_mapping pbm on cc.id = pbm.retailer_id where tk.issue_type = 'item' and it.deleted = 0 and tk.n_slot_id = 220728 and co.n_slot_id = 220728 and sd.id in (4,1,5) and co.status in ('D','P','PU','RE') order by 1) A group by 1,title order by complaint_date asc''']

In [10]:
call_queries[0]

'insert into temp_finance.comaplint_test select complaint_order_id, complaint_date,case when date_format(cd,"%u") = \'00\' then \'53\' else date_format(cd,"%u") end as wk,date_format(cd,"%m") as mnth, delivery_date,title, agent_id, partner_name, shop_name,consumer_id,consumer_name,phone,group_concat(prod_id) as product_ids, group_concat(prod_name) as product_names,refunded_on_order, RM, KAM,status,DC,sum(refund_amount) as refund_amount from(select tk.order_id as complaint_order_id,co.status,tk.n_slot_id as complaint_date,co.n_slot_id as delivery_date, concat(\'20\',SUBSTRING(tk.n_slot_id,1,2),\'/\',SUBSTRING(tk.n_slot_id,3,2),\'/\', SUBSTRING(tk.n_slot_id,5,2)) as cd, tk.agent_id, cc.name as partner_name, cc.shop_name,tk.consumer_id, cn.name as consumer_name, cn.phone, od.prod_id, od.prod_name, od.price*od.quantity as prod_value,sd.title as title, tk.total_refunded as refunded_on_order, pbm.ba_id as RM, cba.name as KAM, case when co.distributor_id = 6 then \'Gurgaon\' when co.distributor_id = 8 then \'Noida\' when co.distributor_id = 13 then \'Mumbai\' end as DC, it.refund_amount from consumer.cn_ticket tk inner join consumer.cn_issue_item it on it.ticket_id = tk.id inner join consumer.cn_order_data od on od.id = it.item_id inner join consumer.cn_issue sd on sd.id = it.issue_id inner join consumer.cn_order co on co.id = tk.order_id left join consumer.cn_consumer cn on co.consumer_id = cn.id left join crofarmUsers.cr_retailer cc on co.agent_id = cc.id left join crofarmUsers.cr_zone_polygon czp on cc.zone_polygon_id = czp.id left join crofarmUsers.cr_business_associate cba on cc.business_associate_id = cba.id left join crofarmUsers.partner_ba_mapping pbm on cc.id = pbm.retailer_id where tk.issue_type = \'item\' and it.deleted = 0 and tk.n_slot_id = 220728 and co.n_slot_id = 220728 and sd.id in (4,1,5) and co.status in (\'D\',\'P\',\'PU\',\'RE\') order by 1) A group by 1,title order by complaint_date asc'

In [12]:
get_data_from_db(call_queries[0])

MySQLCursor: (Nothing executed yet)

DatabaseError: 1290 (HY000): The MySQL server is running with the --read-only option so it cannot execute this statement

In [3]:
conn = mysql.connector.connect(
        host = "readreplica.ci9kqv9mlekc.ap-south-1.rds.amazonaws.com",
        user = "pikachu",
        passwd = "crofarm123abc",
        )
cur = conn.cursor()
cur.execute('select * from consumer.cn_order limit 10')
rows = cur.fetchall()
print(rows)

[(2, 2, 2969, 6, 2, 'D', Decimal('465.00'), Decimal('0.00'), '', '06:00 AM - 02:00 PM, 17 JAN, FRI', 200117, Decimal('0.00'), '', 0, 0, 0, '1579118362019.0', 1, '', 1, datetime.datetime(2020, 1, 15, 19, 56, 16, 176517), 2, 0, None, Decimal('5.00'), 0, 0, '', 0, 1, 0, 0, 0, 0, Decimal('465.00'), '', 0, 0, 0, 0, 0, 0, '', '', '', 0, 0, 0, 0, '', None, 0), (3, 3, 2969, 6, 3, 'D', Decimal('162.00'), Decimal('0.00'), '', '06:00 AM - 02:00 PM, 17 JAN, FRI', 200117, Decimal('0.00'), '', 0, 0, 0, '1579115104412.0', 1, '', 1, datetime.datetime(2020, 1, 15, 21, 19, 35, 299442), 3, 0, None, Decimal('5.00'), 0, 0, '', 0, 1, 0, 0, 0, 0, Decimal('162.00'), '', 0, 0, 0, 0, 0, 0, '', '', '', 0, 0, 0, 0, '', None, 0), (4, 6, 3997, 6, 6, 'X', Decimal('802.00'), Decimal('0.00'), '', '06:00 AM - 02:00 PM, 18 JAN, SAT', 200116, Decimal('0.00'), '', 0, 0, 0, '1579162819088.0', 1, '', 1, datetime.datetime(2020, 1, 16, 8, 25, 7, 292579), 3, 0, None, Decimal('0.00'), 0, 0, '', 0, 1, 0, 0, 0, 0, Decimal('802.00'), '', 0, 0, 0, 0, 0, 0, '', '', '', 0, 0, 0, 0, '', None, 0), (5, 6, 3997, 6, 6, 'X', Decimal('1060.20'), Decimal('0.00'), '', '06:00 AM - 02:00 PM, 18 JAN, SAT', 200118, Decimal('0.00'), '', 0, 0, 0, '1579168117809.0', 0, '', 1, datetime.datetime(2020, 1, 16, 11, 40, 45, 591171), 9, 0, None, Decimal('0.00'), 0, 0, '', 0, 1, 0, 0, 0, 0, Decimal('1060.20'), '', 0, 0, 0, 0, 0, 0, '', '', '', 0, 0, 0, 0, '', None, 0), (6, 6, 3997, 6, 6, 'X', Decimal('128.00'), Decimal('0.00'), '', '06:00 AM - 02:00 PM, 19 JAN, SUN', 200119, Decimal('0.00'), '', 0, 0, 0, '1579175201536.0', 0, '', 1, datetime.datetime(2020, 1, 17, 10, 52, 42, 541009), 4, 0, None, Decimal('0.00'), 0, 0, '', 0, 1, 0, 0, 0, 0, Decimal('128.00'), '', 0, 0, 0, 0, 0, 0, '', '', '', 0, 0, 0, 0, '', None, 0), (7, 6, 3997, 6, 6, 'X', Decimal('1249.00'), Decimal('0.00'), '', '06:00 AM - 02:00 PM, 23 JAN, THU', 200121, Decimal('0.00'), '', 0, 0, 0, '1579610371513.0', 0, '', 1, datetime.datetime(2020, 1, 21, 9, 48, 15, 621330), 5, 0, None, Decimal('0.00'), 0, 0, '', 0, 1, 0, 0, 0, 0, Decimal('1249.00'), '', 0, 0, 0, 0, 0, 0, '', '', '', 0, 0, 0, 0, '', None, 0), (8, 22, 2969, 6, 22, 'D', Decimal('116.00'), Decimal('0.00'), '', '07:00 AM - 10:00 AM, 23 JAN, THU', 200121, Decimal('0.00'), '', 0, 0, 0, '1579157368939.0', 1, '', 1, datetime.datetime(2020, 1, 21, 15, 2, 21, 821706), 2, 0, None, Decimal('5.00'), 0, 0, '', 0, 1, 0, 0, 0, 0, Decimal('116.00'), '', 0, 0, 0, 0, 0, 0, '', '', '', 0, 0, 0, 0, '', None, 0), (9, 23, 4033, 6, 23, 'RE', Decimal('430.00'), Decimal('0.00'), '', '07:00 AM - 10:00 AM, 23 JAN, THU', 200123, Decimal('0.00'), '', 0, 0, 0, '1579627792775.0', 0, '', 1, datetime.datetime(2020, 1, 21, 17, 30, 21, 412850), 3, 0, None, Decimal('0.00'), 0, 0, '', 0, 1, 0, 0, 0, 0, Decimal('430.00'), '', 0, 0, 0, 0, 0, 0, '', '', '', 0, 0, 0, 0, '', None, 0), (10, 24, 4034, 6, 24, 'X', Decimal('429.00'), Decimal('0.00'), '', '07:00 AM - 10:00 AM, 23 JAN, THU', 200123, Decimal('0.00'), '', 0, 0, 0, '1579632604417.0', 1, '', 1, datetime.datetime(2020, 1, 21, 18, 19, 35, 860587), 2, 0, None, Decimal('0.00'), 0, 0, '', 0, 1, 0, 0, 0, 0, Decimal('429.00'), '', 0, 0, 0, 0, 0, 0, '', '', '', 0, 0, 0, 0, '', None, 0), (11, 22, 2969, 6, 22, 'X', Decimal('2516.00'), Decimal('0.00'), '', '07:00 AM - 10:00 AM, 23 JAN, THU', 200123, Decimal('0.00'), '', 0, 0, 0, '1579641741460.0', 0, '', 1, datetime.datetime(2020, 1, 21, 18, 39, 52, 981955), 6, 0, None, Decimal('0.00'), 0, 0, '', 0, 1, 0, 0, 0, 0, Decimal('2516.00'), '', 0, 0, 0, 0, 0, 0, '', '', '', 0, 0, 0, 0, '', None, 0)]