In [45]:
import pandas as pd
idx = pd.date_range("00:00:00", "23:59:59", freq="S",)

In [47]:
import numpy as np
a=np.array(idx)

In [48]:
df=pd.DataFrame(a)

In [51]:
df.

0       2022-06-24 00:00:00
1       2022-06-24 00:00:01
2       2022-06-24 00:00:02
3       2022-06-24 00:00:03
4       2022-06-24 00:00:04
                ...
86395   2022-06-24 23:59:55
86396   2022-06-24 23:59:56
86397   2022-06-24 23:59:57
86398   2022-06-24 23:59:58
86399   2022-06-24 23:59:59
Name: 0, Length: 86400, dtype: datetime64[ns]

In [67]:
pip install trino.dbapi

Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\agrim\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (c:\users\agrim\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\agrim\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (c:\users\agrim\appdata\local\programs\python\python310\lib\site-packages)
ERROR: Could not find a version that satisfies the requirement trino.dbapi (from versions: none)
ERROR: No matching distribution found for trino.dbapi
WARNING: Ignoring invalid distribution -rotobuf (c:\users\agrim\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (c:\users\agrim\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\agrim\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (c:\users\agrim\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\agrim\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (c:\users\agrim\appdata\local\programs\python\python310\lib\site-packages)

In [9]:
from trino.dbapi import connect

conn = connect(
    host="173.0.134.177",
    port=8080,
    user="trino",
    catalog="hive"
)
cur = conn.cursor()

In [13]:

cur.execute("SELECT * FROM consumer.cn_order where dt='2022-06-21' limit 100")
rows = cur.fetchall()

In [14]:
rows

[[5359974,
  152803,
  53482,
  8,
  152843,
  'D',
  '2129.00',
  '0.00',
  'Some thing problem.',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '2129.00',
  '',
  1655861640,
  0,
  1,
  '1528031655770908461',
  1,
  '~CT35493~CT61149~CT21533',
  4,
  '2022-06-21T00:04:49.633017',
  11,
  0,
  '',
  '2.00',
  1655877946,
  1655853372,
  'Table_6 Noida',
  True,
  1,
  1425,
  True,
  0,
  1655830041,
  '2119.00',
  'BN10352',
  0,
  0,
  41607,
  6,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359975,
  1800926,
  50000,
  6,
  1803270,
  'D',
  '102.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '102.00',
  '',
  1655863513,
  0,
  1,
  '18009261655769440868',
  1,
  '~CT51435',
  1,
  '2022-06-21T00:04:57.330809',
  7,
  0,
  '',
  '5.00',
  1655917451,
  1655854915,
  'Table_1',
  True,
  1,
  1081,
  True,
  0,
  1655826611,
  '96.00',
  'BG12604',
  0,
  0,
  28081,
  6,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359976,
  589277,
  20269,
  6,
  590181,
  'D',
  '201.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '201.00',
  '',
  1655862480,
  0,
  1,
  '5892771655116798455',
  1,
  '~CT77194',
  1,
  '2022-06-21T00:10:32.525907',
  2,
  0,
  '',
  '1.00',
  1655862667,
  1655853566,
  'Table_8',
  True,
  1,
  1041,
  True,
  0,
  1655835933,
  '191.00',
  'SG25128',
  0,
  0,
  28081,
  3,
  0,
  0,
  '',
  '',
  'Table_20',
  1655835367,
  1150,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359977,
  1707136,
  51529,
  6,
  1709336,
  'D',
  '200.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '200.00',
  '',
  1655861580,
  0,
  1,
  '17071361655711121317',
  1,
  '~CT61907',
  1,
  '2022-06-21T00:11:02.941612',
  5,
  0,
  '',
  '4.00',
  1655861967,
  1655856146,
  'Table_1',
  True,
  1,
  1081,
  True,
  0,
  1655833074,
  '194.00',
  'BG12745',
  0,
  0,
  28081,
  6,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359978,
  1265385,
  50917,
  6,
  1267124,
  'D',
  '104.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '104.00',
  '',
  1655857440,
  0,
  1,
  '12653851655770416780',
  1,
  '~CT39521',
  1,
  '2022-06-21T00:14:02.873809',
  5,
  0,
  '',
  '5.00',
  1655905908,
  1655854947,
  'Table_3',
  True,
  1,
  998,
  True,
  0,
  1655831013,
  '96.00',
  'BG12398',
  0,
  0,
  28081,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359979,
  105455,
  14775,
  8,
  105489,
  'D',
  '131.00',
  '0.00',
  'Good ',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '131.00',
  '',
  1655863458,
  0,
  1,
  '1054551655770458512',
  1,
  '~CT12767',
  1,
  '2022-06-21T00:14:38.806547',
  2,
  0,
  '',
  '4.00',
  1655870217,
  1655851265,
  'Table_13 Noida',
  True,
  1,
  1391,
  True,
  0,
  1655830525,
  '127.00',
  'SN92251',
  0,
  0,
  0,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359980,
  290217,
  25576,
  8,
  290272,
  'D',
  '107.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '107.00',
  '',
  1655858640,
  0,
  1,
  '2902171655741391214',
  1,
  '~CT51122',
  1,
  '2022-06-21T00:15:38.917180',
  3,
  0,
  '',
  '5.00',
  1655905554,
  1655854615,
  'Table_2 Noida',
  True,
  1,
  1360,
  True,
  0,
  1655830920,
  '98.00',
  'BN09961',
  0,
  0,
  25576,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359981,
  34719,
  8016,
  8,
  34748,
  'D',
  '102.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '102.00',
  '',
  1655849640,
  0,
  1,
  '347191655770548037',
  1,
  '~CT80030',
  1,
  '2022-06-21T00:16:17.659954',
  3,
  0,
  '',
  '1.00',
  1655857334,
  1655851563,
  'Table_10 Noida',
  True,
  1,
  1423,
  True,
  0,
  1655839445,
  '87.00',
  'SN92221',
  0,
  0,
  0,
  3,
  0,
  0,
  '',
  '',
  'Table_1 Noida',
  1655835034,
  1424,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359982,
  1625910,
  51144,
  6,
  1628028,
  'D',
  '212.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '212.00',
  '',
  1655857740,
  0,
  1,
  '16259101655361082278',
  1,
  '~CT32331',
  1,
  '2022-06-21T00:17:27.908943',
  6,
  0,
  '',
  '4.50',
  1655876033,
  1655857385,
  'Table_14',
  True,
  1,
  1137,
  True,
  0,
  1655829255,
  '192.00',
  'BG08930',
  0,
  0,
  28081,
  6,
  1,
  1,
  '~CLD8846',
  'DG01208',
  'Table_20',
  1655829802,
  1150,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359983,
  1413298,
  9363,
  6,
  1415200,
  'X',
  '201.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '201.00',
  '',
  0,
  0,
  1,
  '14132981655770431174',
  0,
  '',
  0,
  '2022-06-21T00:18:46.615808',
  9,
  0,
  '',
  '0.00',
  0,
  1655853204,
  '',
  False,
  1,
  0,
  False,
  0,
  0,
  '201.00',
  '',
  0,
  0,
  28081,
  6,
  1,
  0,
  '',
  '',
  '',
  0,
  0,
  False,
  False,
  '',
  None,
  False,
  '2022-06-21'],
 [5359984,
  1785343,
  49487,
  6,
  1787665,
  'D',
  '109.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '109.00',
  '',
  1655862540,
  0,
  1,
  '17853431655559639211',
  0,
  '~CT03971',
  1,
  '2022-06-21T00:21:42.712622',
  5,
  0,
  '',
  '0.00',
  0,
  1655853960,
  'Table_5',
  True,
  1,
  1014,
  True,
  0,
  1655827961,
  '86.00',
  'BG09530',
  0,
  0,
  28081,
  6,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359985,
  412840,
  7758,
  8,
  413268,
  'D',
  '210.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '210.00',
  '',
  1655860658,
  0,
  1,
  '4128401655778297822',
  1,
  '~CT14985',
  2,
  '2022-06-21T00:23:30.256853',
  7,
  0,
  '',
  '4.00',
  1655878732,
  1655851747,
  'Table_12 Noida',
  True,
  1,
  1390,
  True,
  0,
  1655829695,
  '202.00',
  'VAV4KYQ8',
  0,
  0,
  28081,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359986,
  221970,
  53911,
  8,
  222013,
  'D',
  '744.00',
  '20.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '744.00',
  '',
  1655862480,
  0,
  1,
  '2219701655770807127',
  0,
  '~CT80676~CT89840',
  3,
  '2022-06-21T00:26:03.584302',
  19,
  0,
  'CART20',
  '0.00',
  0,
  1655852041,
  'Table_6 Noida',
  True,
  1,
  1425,
  True,
  0,
  1655830364,
  '709.00',
  'BN10359',
  0,
  0,
  0,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359987,
  321356,
  23721,
  6,
  321555,
  'D',
  '103.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '103.00',
  '',
  1655862122,
  0,
  1,
  '3213561655771349263',
  1,
  '~CT12571',
  2,
  '2022-06-21T00:29:51.447119',
  3,
  0,
  '',
  '5.00',
  1655900268,
  1655856370,
  'Table_13',
  True,
  1,
  1114,
  True,
  0,
  1655829771,
  '94.00',
  'VAIO0YQW',
  0,
  0,
  14286,
  3,
  0,
  0,
  '',
  '',
  'Table_20',
  1655828074,
  1150,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359988,
  1800945,
  53049,
  6,
  1803289,
  'D',
  '107.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '107.00',
  '',
  1655872740,
  0,
  1,
  '18009451655770982704',
  1,
  '~CT10418',
  1,
  '2022-06-21T00:35:01.965272',
  5,
  0,
  '',
  '5.00',
  1655873015,
  1655855707,
  'Table_3',
  True,
  1,
  998,
  True,
  0,
  1655835296,
  '100.00',
  'BG12322',
  1,
  0,
  28081,
  6,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359989,
  24,
  43,
  6,
  24,
  'X',
  '0.00',
  '0.00',
  '',
  '00:00 - 00:00, XX MMM',
  220622,
  '0.00',
  '',
  0,
  0,
  0,
  None,
  0,
  '',
  0,
  '2022-06-21T00:35:02.210859',
  0,
  0,
  None,
  '0.00',
  0,
  1655852723,
  '',
  False,
  1,
  0,
  False,
  0,
  0,
  '0.00',
  '',
  0,
  0,
  0,
  0,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  False,
  False,
  '',
  None,
  False,
  '2022-06-21'],
 [5359990,
  640629,
  50053,
  6,
  641667,
  'D',
  '227.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '227.00',
  '',
  1655863905,
  0,
  1,
  '6406291655772047668',
  1,
  '~CT41003',
  1,
  '2022-06-21T00:41:59.329310',
  5,
  0,
  '',
  '4.50',
  1655864264,
  1655855086,
  'Table_1',
  True,
  1,
  1081,
  True,
  0,
  1655830137,
  '209.00',
  'BG12681',
  0,
  0,
  42359,
  6,
  0,
  0,
  '',
  '',
  'Table_20',
  1655828036,
  1150,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359991,
  1617605,
  50725,
  8,
  1619710,
  'D',
  '142.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '142.00',
  '',
  1655859060,
  0,
  1,
  '16176051655772020478',
  0,
  '~CT52378',
  1,
  '2022-06-21T00:42:12.010452',
  6,
  0,
  '',
  '0.00',
  0,
  1655853276,
  'Table_8 Noida',
  True,
  1,
  1367,
  True,
  0,
  1655835617,
  '130.00',
  'BN08336',
  0,
  0,
  28081,
  3,
  0,
  0,
  '',
  '',
  'Table_1 Noida',
  1655835305,
  1424,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359992,
  501052,
  9234,
  8,
  501742,
  'D',
  '192.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '192.00',
  '',
  1655860200,
  0,
  1,
  '5010521655744027557',
  1,
  '~CT90005',
  1,
  '2022-06-21T00:42:16.315649',
  7,
  0,
  '',
  '4.00',
  1655988770,
  1655851990,
  'Table_15 Noida',
  True,
  1,
  1393,
  True,
  0,
  1655828658,
  '175.00',
  'BN07888',
  0,
  0,
  28081,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359993,
  873547,
  53570,
  8,
  874781,
  'D',
  '121.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '121.00',
  '',
  1655857740,
  0,
  1,
  '8735471655771968284',
  0,
  '~CT35040',
  1,
  '2022-06-21T00:42:31.574158',
  1,
  0,
  '',
  '0.00',
  0,
  1655854148,
  'Table_7 Noida',
  True,
  1,
  1368,
  True,
  0,
  1655829119,
  '118.00',
  'VLLV29JR',
  0,
  0,
  28081,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359994,
  690103,
  50098,
  6,
  691264,
  'D',
  '175.00',
  '0.00',
  'I did not receive my full order.',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '175.00',
  '',
  1655870820,
  0,
  1,
  '6901031655744369226',
  1,
  '~CT14486',
  1,
  '2022-06-21T00:44:05.435242',
  1,
  0,
  '',
  '1.00',
  1655871217,
  1655856273,
  'Table_2',
  True,
  1,
  989,
  True,
  0,
  1655833883,
  '169.00',
  'SG21640',
  0,
  0,
  34712,
  6,
  0,
  0,
  '',
  '',
  'Table_20',
  1655832976,
  1150,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359995,
  1724090,
  52710,
  6,
  1726311,
  'D',
  '734.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '734.00',
  '',
  1655857260,
  0,
  1,
  '17240901655771829849',
  1,
  '~CT33021~CT33025',
  2,
  '2022-06-21T00:45:04.817641',
  10,
  0,
  '',
  '4.50',
  1655858059,
  1655852913,
  'Table_11',
  True,
  1,
  1106,
  True,
  0,
  1655844365,
  '668.00',
  'BG08367',
  0,
  0,
  28081,
  6,
  1,
  1,
  '~CLD8871',
  'DG03427',
  'Table_20',
  1655839634,
  1150,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359996,
  1797352,
  23779,
  8,
  1799691,
  'D',
  '103.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '103.00',
  '',
  1655863320,
  0,
  1,
  '17973521655772414257',
  1,
  '~CT61050',
  1,
  '2022-06-21T00:47:39.866441',
  2,
  0,
  '',
  '5.00',
  1655868703,
  1655854192,
  'Table_11 Noida',
  True,
  1,
  1389,
  True,
  0,
  1655828877,
  '100.00',
  'SN83230',
  0,
  0,
  28081,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359997,
  1731513,
  23779,
  8,
  1733745,
  'D',
  '101.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '101.00',
  '',
  1655862523,
  0,
  1,
  '17315131655772595785',
  1,
  '~CT61050',
  1,
  '2022-06-21T00:50:32.302378',
  2,
  0,
  '',
  '5.00',
  1655868774,
  1655854192,
  'Table_11 Noida',
  True,
  1,
  1389,
  True,
  0,
  1655828848,
  '98.00',
  'SN83231',
  0,
  0,
  23779,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359998,
  664538,
  50917,
  6,
  665634,
  'D',
  '109.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '109.00',
  '',
  1655863680,
  0,
  1,
  '6645381655737270222',
  1,
  '~CT39521',
  1,
  '2022-06-21T00:51:22.934239',
  5,
  0,
  '',
  '5.00',
  1655974303,
  1655854947,
  'Table_3',
  True,
  1,
  998,
  True,
  0,
  1655830982,
  '95.00',
  'BG12399',
  0,
  0,
  15453,
  6,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5359999,
  1654467,
  9579,
  8,
  1656616,
  'D',
  '122.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '122.00',
  '',
  1655863191,
  0,
  1,
  '16544671655772668777',
  1,
  '~CT12758',
  2,
  '2022-06-21T00:52:20.539985',
  3,
  0,
  '',
  '4.50',
  1655941722,
  1655852248,
  'Table_9 Noida',
  True,
  1,
  1369,
  True,
  0,
  1655830974,
  '107.00',
  'V437JKQ1',
  0,
  0,
  28081,
  6,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  'https://crofarm.s3.ap-south-1.amazonaws.com/images/delivery_app/f0f5b623ffa1.jpg',
  False,
  '2022-06-21'],
 [5360000,
  1800966,
  12198,
  6,
  1803310,
  'D',
  '137.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '137.00',
  '',
  1655856900,
  0,
  1,
  '18009661655771569845',
  1,
  '~CT59211',
  1,
  '2022-06-21T00:52:58.409246',
  7,
  0,
  '',
  '5.00',
  1655858657,
  1655853145,
  'Table_13',
  True,
  1,
  1114,
  True,
  0,
  1655844599,
  '120.00',
  'BG13594',
  0,
  0,
  28081,
  6,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5360001,
  506319,
  4480,
  6,
  507017,
  'D',
  '213.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '213.00',
  '',
  1655857908,
  0,
  1,
  '5063191655772880947',
  1,
  '~CT40256',
  3,
  '2022-06-21T00:55:15.974567',
  4,
  0,
  '',
  '4.00',
  1655859817,
  1655853240,
  'Table_5',
  True,
  1,
  1014,
  True,
  0,
  1655838698,
  '166.00',
  'XG05542',
  0,
  0,
  28081,
  6,
  0,
  0,
  '',
  '',
  'Table_20',
  1655835339,
  1150,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5360002,
  1774574,
  25576,
  8,
  1776877,
  'D',
  '116.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '116.00',
  '',
  1655860140,
  0,
  1,
  '17745741655699571507',
  1,
  '~CT92460',
  1,
  '2022-06-21T00:55:47.310620',
  4,
  0,
  '',
  '4.00',
  1655860534,
  1655854615,
  'Table_2 Noida',
  True,
  1,
  1360,
  True,
  0,
  1655831182,
  '113.00',
  'BN09969',
  0,
  0,
  28081,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5360003,
  420184,
  20269,
  6,
  420635,
  'D',
  '105.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '105.00',
  '',
  1655864040,
  0,
  1,
  '4201841655772999994',
  1,
  '~CT03596',
  1,
  '2022-06-21T00:57:50.634595',
  5,
  0,
  '',
  '5.00',
  1655867992,
  1655853566,
  'Table_8',
  True,
  1,
  1041,
  True,
  0,
  1655836197,
  '88.00',
  'BG13393',
  1,
  0,
  28081,
  3,
  0,
  0,
  '',
  '',
  'Table_20',
  1655835367,
  1150,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5360004,
  958192,
  30882,
  8,
  959510,
  'D',
  '113.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '113.00',
  '',
  1655859900,
  0,
  1,
  '9581921655739469187',
  1,
  '~CT36098',
  1,
  '2022-06-21T00:58:27.068855',
  5,
  0,
  '',
  '4.00',
  1655860501,
  1655855699,
  'Table_2 Noida',
  True,
  1,
  1360,
  True,
  0,
  1655827685,
  '98.00',
  'BN97737',
  0,
  0,
  28081,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5360005,
  1761640,
  14911,
  8,
  1763928,
  'D',
  '118.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '118.00',
  '',
  1655857080,
  0,
  1,
  '17616401655737317398',
  1,
  '~CT10612',
  1,
  '2022-06-21T00:58:27.131964',
  4,
  0,
  '',
  '5.00',
  1655868838,
  1655852517,
  'Table_12 Noida',
  True,
  1,
  1390,
  True,
  0,
  1655833151,
  '108.00',
  '5',
  0,
  0,
  28081,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5360006,
  1800984,
  52459,
  8,
  1803328,
  'D',
  '167.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '167.00',
  '',
  1655853676,
  0,
  1,
  '18009841655772575363',
  1,
  '~CT68132',
  1,
  '2022-06-21T00:59:55.894154',
  5,
  0,
  '',
  '4.50',
  1655862291,
  1655852995,
  'Table_2 Noida',
  True,
  1,
  1360,
  True,
  0,
  1655832556,
  '161.00',
  'BN09800',
  0,
  0,
  28081,
  6,
  1,
  1,
  '~CLD0108',
  'dg77777',
  'Table_1 Noida',
  1655839415,
  1424,
  True,
  True,
  '',
  'https://crofarm.s3.ap-south-1.amazonaws.com/images/delivery_app/f0f55b390e6d.jpg',
  False,
  '2022-06-21'],
 [5360007,
  1518193,
  51977,
  6,
  1520205,
  'D',
  '108.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '108.00',
  '',
  1655863320,
  0,
  1,
  '15181931655721226537',
  0,
  '~CT10118',
  1,
  '2022-06-21T01:00:14.776880',
  2,
  0,
  '',
  '0.00',
  0,
  1655855338,
  'Table_14',
  True,
  1,
  1137,
  True,
  0,
  1655833335,
  '103.00',
  'SG06936',
  1,
  0,
  51977,
  3,
  0,
  0,
  '',
  '',
  'Table_20',
  1655828223,
  1150,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5360008,
  1376246,
  52943,
  8,
  1378118,
  'D',
  '159.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '159.00',
  '',
  1655854440,
  0,
  1,
  '13762461655386798720',
  1,
  '~CT30210',
  2,
  '2022-06-21T01:00:22.783432',
  7,
  0,
  '',
  '4.50',
  1655856528,
  1655851975,
  'Table_14 Noida',
  True,
  1,
  1392,
  True,
  0,
  1655832993,
  '141.00',
  'XN10657',
  1,
  0,
  28081,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5360009,
  23912,
  4523,
  6,
  23941,
  'X',
  '105.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '105.00',
  '',
  0,
  0,
  1,
  '239121655722045986',
  0,
  '',
  0,
  '2022-06-21T01:01:02.159546',
  3,
  0,
  '',
  '0.00',
  0,
  1655851913,
  '',
  False,
  1,
  0,
  False,
  0,
  0,
  '105.00',
  '',
  0,
  0,
  8753,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  False,
  False,
  '',
  None,
  False,
  '2022-06-21'],
 [5360010,
  1412867,
  52943,
  8,
  1414768,
  'D',
  '138.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '138.00',
  '',
  1655860800,
  0,
  1,
  '14128671654652885074',
  1,
  '~CT80279',
  2,
  '2022-06-21T01:03:01.085762',
  5,
  0,
  '',
  '5.00',
  1655915088,
  1655851975,
  'Table_14 Noida',
  True,
  1,
  1392,
  True,
  0,
  1655833106,
  '133.00',
  'V6U8EINJ',
  0,
  0,
  28081,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5360011,
  496332,
  49934,
  8,
  497009,
  'D',
  '126.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '126.00',
  '',
  1655858940,
  0,
  1,
  '4963321655772831198',
  1,
  '~CT21595',
  1,
  '2022-06-21T01:03:04.063038',
  6,
  0,
  '',
  '4.50',
  1655916941,
  1655855618,
  'Table_16 Noida',
  True,
  1,
  1422,
  True,
  0,
  1655832476,
  '117.00',
  'BN08041',
  0,
  0,
  30618,
  3,
  0,
  0,
  '',
  '',
  '',
  0,
  0,
  True,
  True,
  '',
  None,
  False,
  '2022-06-21'],
 [5360012,
  1562042,
  53911,
  8,
  1564096,
  'D',
  '109.00',
  '0.00',
  '',
  '06:00 AM - 10:00 AM, 22 JUN, WED',
  220622,
  '109.00',
  '',
  1655863680,
  0,
  1,