In [193]:
from collections import Counter
import numpy as np
import trino
import pandas as pd
##mysql connector
import mysql.connector
myconn = mysql.connector.connect(host = "tango-read-nifi.ci9kqv9mlekc.ap-south-1.rds.amazonaws.com",
                                 user = "pikachu",passwd = "crofarm123abc",database = "consumer")
cur_mysql = myconn.cursor()


##trino connector
from trino.dbapi import connect
conn = connect(host="presto.crofarm.com",port=443,catalog='hive',http_scheme='https',auth=trino.auth.BasicAuthentication("db.manager","crofarm"))
cur_trino = conn.cursor()


trino_tables=[]
# schema=["consumer","crofarmusers","products"]
schema=['historical']
for i in range(len(schema)):
    b="show tables from "+schema[i]+" like 'full%' "
    cur_trino.execute(b)
    tables=cur_trino.fetchall()
    for j in range(len(tables)):
        trino_tables.append(str(schema[i].lower())+"."+str(tables[j][0].lower()))

# print(trino_tables)
trino_tables.sort()
trino_final_tables=[]
t=[]
for i in range(len(trino_tables)):
    if(trino_tables[i].split("_")[1])=='bizfin':
        continue
    if(trino_tables[i].split("_")[1])=='temp':
        continue
    if(trino_tables[i].split("_")[1])=='crofarmusers':
        t.append(trino_tables[i])
        trino_final_tables.append("crofarmUsers."+str("_".join(trino_tables[i].split("_")[2:])))
    else:
        t.append(trino_tables[i])
        trino_final_tables.append(str(trino_tables[i].split("_")[1:2][0])+"."+str("_".join(trino_tables[i].split("_")[2:])))

# trino_final_tables.sort()
# mysql_final_tables=[]
# schema=["consumer","crofarmUsers","products"]
# for i in range(len(schema)):
#     b="show tables from "+schema[i]
#     cur_mysql.execute(b)
#     mysql_tables=cur_mysql.fetchall()
#     for j in range(len(mysql_tables)):
#         mysql_final_tables.append(str(schema[i].lower())+"."+str(mysql_tables[j][0].lower()))

# mysql_final_tables.sort()
# d=set(mysql_final_tables)-set(trino_final_tables)
# b=set(mysql_final_tables)-d

In [ ]:
cur_mysql.execute()
mysql_tables=cur_mysql.fetchall()

In [194]:
import mysql.connector
myconn = mysql.connector.connect(host = "tango-read-nifi.ci9kqv9mlekc.ap-south-1.rds.amazonaws.com",
                                 user = "pikachu",passwd = "crofarm123abc",database = "consumer")
cur_mysql = myconn.cursor()

In [195]:
mysql_col=[]
trino_col=[]
for i in range(len(trino_final_tables)):
    cur_mysql.execute("select COLUMN_NAME from information_schema.columns where `TABLE_SCHEMA`='"+trino_final_tables[i].split('.')[0]+"' and `table_name` ='"+trino_final_tables[i].split('.')[1]+"'")
    mysql_col.append(cur_mysql.fetchall())
    cur_trino.execute("select COLUMN_NAME from information_schema.columns where TABLE_SCHEMA='"+t[i].split('.')[0]+"' and table_name ='"+t[i].split('.')[1]+"'")
    trino_col.append(cur_trino.fetchall())

In [197]:
trino_final_col=[]
for i in range(len(trino_col)):
    t=[]
    for j in range(len(trino_col[i])):
        t.append(trino_col[i][j][0])
    trino_final_col.append(t)
    
mysql_final_col=[]
for i in range(len(mysql_col)):
    t=[]
    for j in range(len(mysql_col[i])):
        t.append(mysql_col[i][j][0])
    mysql_final_col.append(t)

In [198]:
a=[]
for i in range(len(mysql_final_col)):
    a.append(set(mysql_final_col[i])-set(trino_final_col[i]))

In [199]:
c=[]
change_table=[]
for i in range(len(a)):
    if(len(a[i])==0):
        pass
    else:
        change_table.append(trino_final_tables[i])
        c.append(list(a[i]))

In [200]:
c[0]

['orders_delivered_by_six_thirty_am', 'six_thirty_am_delivery_per']

In [201]:
change_table

['consumer.cn_agent_first_order_performance',
 'consumer.cn_agent_performance',
 'consumer.cn_consumer_property',
 'consumer.cn_picker',
 'consumer.cn_wallet_coupon',
 'consumer.order_data_property',
 'consumer.order_delivery_info',
 'consumer.partner_rejected_order',
 'consumer.product_rating',
 'consumer.route_line',
 'crofarmUsers.retailer_document',
 'products.bunch_packing_qc_mapping',
 'products.bunch_table_packing',
 'products.dc_metric',
 'products.partner_incentive_sales',
 'products.product_sku_receiving_mapping',
 'products.sku_bunch',
 'products.sku_receiving',
 'products.zone_pricing',
 'products.zone_subscribable_product']

In [187]:
b[0]

['id', 'int(11)', 'NO', 'PRI', None, 'auto_increment']

In [202]:
f=[]
for k in range(len(change_table)):
    m=[]
    n=[]
    b={}
    cur_mysql.execute("desc "+str(change_table[k]))
    a=(cur_mysql.fetchall())
    for i in range(len(a)):
        b[(a[i][0])]=a[i][1]
    f.append(b)
typ=[]
for i in range(len(change_table)):
    m=[]
    for k in range(len(c[i])):
        if('int(11)' == f[i][c[i][k]]):
            m.append('int')
        elif('varchar' in f[i][c[i][k]]):
            m.append('varchar')
        elif('longtext' in f[i][c[i][k]]):
            m.append('varchar')
        elif('tinyint' in f[i][c[i][k]]):
            m.append('boolean')
        elif('datetime' in f[i][c[i][k]]):
            m.append('bigint')
        else:
            m.append(f[i][c[i][k]])
    typ.append(m)

In [209]:
len(change_table)

20

In [208]:
len(c)

20

In [207]:
len(typ)

20

In [219]:
for i in range(len(change_table)):
    for j in range(len(c[i])):
        cur_trino.execute('ALTER TABLE IF EXISTS historical.ut_'+"_".join(change_table[i].split('.'))+' ADD COLUMN  IF NOT EXISTS  '+c[i][j] +" "+typ[i][j])
        print(cur_trino.fetchall())

[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]
[[True]]

In [ ]:
# not_present_in_trino=list(set(mysql_final_tables)-set(trino_final_tables))
# new_list=list(set(mysql_final_tables)-set(not_present_in_trino))
# new_list.sort()

# new_list
# columns=[]
# columns2=[]
# for i in range(len(new_list)):
#     if(new_list[i]==trino_final_tables[i]):
#         cur_mysql.execute("select COLUMN_NAME from information_schema.columns where `TABLE_SCHEMA`='"+new_list[i].split('.')[0]+"' and table_name ='"+new_list[i].split('.')[1]+"'")
#         columns.append(cur_mysql.fetchall())
#         cur_trino.execute("select COLUMN_NAME from information_schema.columns where TABLE_SCHEMA='"+trino_final_tables[i].split('.')[0]+"' and table_name ='"+trino_final_tables[i].split('.')[1]+"'")
#         columns2.append(cur_trino.fetchall())

# col=[]
# for i in range(len(columns)):
#     m=[]
#     for j in range(len(columns[i])):
#         m.append(columns[i][j][0])
#     col.append(m)
    
# col2=[]
# for i in range(len(columns2)):
#     m=[]
#     for j in range(len(columns2[i])):
#         m.append(columns2[i][j][0])
#     col2.append(m)
    
# change_table=[]
# dif_col=[]
# for i in range(len(col)):
#     dif_col.append((list(set(col[i])-set(col2[i]))))
#     a=(list(set(col[i])-set(col2[i])))
#     if(len(a)>0):
#         print(a)
#         print(new_list[i])
#         change_table.append(new_list[i])
        
# diff_final=[]
# for i in range(len(dif_col)):
#     if(dif_col[i]==[]):
#         pass
#     else:
#         diff_final.append(dif_col[i])

In [220]:
insert_into = ["insert into hive.products.Category select *, cast('done' as varchar) as data_copied from hive.historical.full_products_Category where dt =(select max(dt) from hive.historical.full_products_Category where dt >= cast(current_date as varchar))", "insert into hive.products.Commodity select *, cast('done' as varchar) as data_copied from hive.historical.full_products_Commodity where dt = (select max(dt) from hive.historical.full_products_Commodity where dt >= cast(current_date as varchar))", "insert into hive.products.ProdAttrbMapping select *, cast('done' as varchar) as data_copied from hive.historical.full_products_ProdAttrbMapping where dt = (select max(dt) from hive.historical.full_products_ProdAttrbMapping where dt >= cast(current_date as varchar))", "insert into hive.products.Product select *, cast('done' as varchar) as data_copied from hive.historical.full_products_Product where dt = (select max(dt) from hive.historical.full_products_Product where dt >= cast(current_date as varchar))", "insert into hive.products.SubCategory select *, cast('done' as varchar) as data_copied from hive.historical.full_products_SubCategory where dt = (select max(dt) from hive.historical.full_products_SubCategory where dt >= cast(current_date as varchar))", "insert into hive.products.agent_product_mapping select *, cast('done' as varchar) as data_copied from hive.historical.full_products_agent_product_mapping where dt = (select max(dt) from hive.historical.full_products_agent_product_mapping where dt >= cast(current_date as varchar))", "insert into hive.products.auth_permission select *, cast('done' as varchar) as data_copied from hive.historical.full_products_auth_permission where dt = (select max(dt) from hive.historical.full_products_auth_permission where dt >= cast(current_date as varchar))", "insert into hive.products.ba_airtelpayment select *, cast('done' as varchar) as data_copied from hive.historical.full_products_ba_airtelpayment where dt = (select max(dt) from hive.historical.full_products_ba_airtelpayment where dt >= cast(current_date as varchar))", "insert into hive.products.ba_dp_transactions select *, cast('done' as varchar) as data_copied from hive.historical.full_products_ba_dp_transactions where dt = (select max(dt) from hive.historical.full_products_ba_dp_transactions where dt >= cast(current_date as varchar))", "insert into hive.products.bulk_order_cancel select *, cast('done' as varchar) as data_copied from hive.historical.full_products_bulk_order_cancel where dt = (select max(dt) from hive.historical.full_products_bulk_order_cancel where dt >= cast(current_date as varchar))", "insert into hive.products.bunch_packing_qc_mapping select *, cast('done' as varchar) as data_copied from hive.historical.full_products_bunch_packing_qc_mapping where dt = (select max(dt) from hive.historical.full_products_bunch_packing_qc_mapping where dt >= cast(current_date as varchar))", "insert into hive.products.bunch_table_packing select *, cast('done' as varchar) as data_copied from hive.historical.full_products_bunch_table_packing where dt = (select max(dt) from hive.historical.full_products_bunch_table_packing where dt >= cast(current_date as varchar))", "insert into hive.products.category_properties select *, cast('done' as varchar) as data_copied from hive.historical.full_products_category_properties where dt = (select max(dt) from hive.historical.full_products_category_properties where dt >= cast(current_date as varchar))", "insert into hive.products.city_group select *, cast('done' as varchar) as data_copied from hive.historical.full_products_city_group where dt = (select max(dt) from hive.historical.full_products_city_group where dt >= cast(current_date as varchar))", "insert into hive.products.combo_products select *, cast('done' as varchar) as data_copied from hive.historical.full_products_combo_products where dt = (select max(dt) from hive.historical.full_products_combo_products where dt >= cast(current_date as varchar))", "insert into hive.products.cr_credit_note select *, cast('done' as varchar) as data_copied from hive.historical.full_products_cr_credit_note where dt = (select max(dt) from hive.historical.full_products_cr_credit_note where dt >= cast(current_date as varchar))", "insert into hive.products.cr_mandi_latest_price select *, cast('done' as varchar) as data_copied from hive.historical.full_products_cr_mandi_latest_price where dt = (select max(dt) from hive.historical.full_products_cr_mandi_latest_price where dt >= cast(current_date as varchar))", "insert into hive.products.cr_mandi_price select *, cast('done' as varchar) as data_copied from hive.historical.full_products_cr_mandi_price where dt = (select max(dt) from hive.historical.full_products_cr_mandi_price where dt >= cast(current_date as varchar))", "insert into hive.products.crate select *, cast('done' as varchar) as data_copied from hive.historical.full_products_crate where dt = (select max(dt) from hive.historical.full_products_crate where dt >= cast(current_date as varchar))", "insert into hive.products.crate_transaction select *, cast('done' as varchar) as data_copied from hive.historical.full_products_crate_transaction where dt = (select max(dt) from hive.historical.full_products_crate_transaction where dt >= cast(current_date as varchar))", "insert into hive.products.crate_user_mapping select *, cast('done' as varchar) as data_copied from hive.historical.full_products_crate_user_mapping where dt = (select max(dt) from hive.historical.full_products_crate_user_mapping where dt >= cast(current_date as varchar))", "insert into hive.products.dc_inventory select *, cast('done' as varchar) as data_copied from hive.historical.full_products_dc_inventory where dt = (select max(dt) from hive.historical.full_products_dc_inventory where dt >= cast(current_date as varchar))", "insert into hive.products.dc_metric select *, cast('done' as varchar) as data_copied from hive.historical.full_products_dc_metric where dt = (select max(dt) from hive.historical.full_products_dc_metric where dt >= cast(current_date as varchar))", "insert into hive.products.deal_share select *, cast('done' as varchar) as data_copied from hive.historical.full_products_deal_share where dt = (select max(dt) from hive.historical.full_products_deal_share where dt >= cast(current_date as varchar))", "insert into hive.products.deal_share_product_mapping select *, cast('done' as varchar) as data_copied from hive.historical.full_products_deal_share_product_mapping where dt = (select max(dt) from hive.historical.full_products_deal_share_product_mapping where dt >= cast(current_date as varchar))", "insert into hive.products.delivery_feedback_ticket select *, cast('done' as varchar) as data_copied from hive.historical.full_products_delivery_feedback_ticket where dt = (select max(dt) from hive.historical.full_products_delivery_feedback_ticket where dt >= cast(current_date as varchar))", "insert into hive.products.dist_retail_margin select *, cast('done' as varchar) as data_copied from hive.historical.full_products_dist_retail_margin where dt = (select max(dt) from hive.historical.full_products_dist_retail_margin where dt >= cast(current_date as varchar))", "insert into hive.products.dist_vol_pricing select *, cast('done' as varchar) as data_copied from hive.historical.full_products_dist_vol_pricing where dt = (select max(dt) from hive.historical.full_products_dist_vol_pricing where dt >= cast(current_date as varchar))", "insert into hive.products.distributor_machine select *, cast('done' as varchar) as data_copied from hive.historical.full_products_distributor_machine where dt = (select max(dt) from hive.historical.full_products_distributor_machine where dt >= cast(current_date as varchar))", "insert into hive.products.distributor_product_mapping select *, cast('done' as varchar) as data_copied from hive.historical.full_products_distributor_product_mapping where dt = (select max(dt) from hive.historical.full_products_distributor_product_mapping where dt >= cast(current_date as varchar))", "insert into hive.products.distributor_table select *, cast('done' as varchar) as data_copied from hive.historical.full_products_distributor_table where dt = (select max(dt) from hive.historical.full_products_distributor_table where dt >= cast(current_date as varchar))", "insert into hive.products.distributor_usp select *, cast('done' as varchar) as data_copied from hive.historical.full_products_distributor_usp where dt = (select max(dt) from hive.historical.full_products_distributor_usp where dt >= cast(current_date as varchar))", "insert into hive.products.django_content_type select *, cast('done' as varchar) as data_copied from hive.historical.full_products_django_content_type where dt = (select max(dt) from hive.historical.full_products_django_content_type where dt >= cast(current_date as varchar))", "insert into hive.products.django_migrations select *, cast('done' as varchar) as data_copied from hive.historical.full_products_django_migrations where dt = (select max(dt) from hive.historical.full_products_django_migrations where dt >= cast(current_date as varchar))", "insert into hive.products.driver_bag_colloection select *, cast('done' as varchar) as data_copied from hive.historical.full_products_driver_bag_colloection where dt = (select max(dt) from hive.historical.full_products_driver_bag_colloection where dt >= cast(current_date as varchar))", "insert into hive.products.driver_location select *, cast('done' as varchar) as data_copied from hive.historical.full_products_driver_location where dt = (select max(dt) from hive.historical.full_products_driver_location where dt >= cast(current_date as varchar))", "insert into hive.products.driver_transaction select *, cast('done' as varchar) as data_copied from hive.historical.full_products_driver_transaction where dt = (select max(dt) from hive.historical.full_products_driver_transaction where dt >= cast(current_date as varchar))", "insert into hive.products.dt_retailer_location_history select *, cast('done' as varchar) as data_copied from hive.historical.full_products_dt_retailer_location_history where dt = (select max(dt) from hive.historical.full_products_dt_retailer_location_history where dt >= cast(current_date as varchar))", "insert into hive.products.dt_route_mapping select *, cast('done' as varchar) as data_copied from hive.historical.full_products_dt_route_mapping where dt = (select max(dt) from hive.historical.full_products_dt_route_mapping where dt >= cast(current_date as varchar))", "insert into hive.products.group_product_mapping select *, cast('done' as varchar) as data_copied from hive.historical.full_products_group_product_mapping where dt = (select max(dt) from hive.historical.full_products_group_product_mapping where dt >= cast(current_date as varchar))", "insert into hive.products.inventory_trans_ledger select *, cast('done' as varchar) as data_copied from hive.historical.full_products_inventory_trans_ledger where dt = (select max(dt) from hive.historical.full_products_inventory_trans_ledger where dt >= cast(current_date as varchar))", "insert into hive.products.jmart_mapping select *, cast('done' as varchar) as data_copied from hive.historical.full_products_jmart_mapping where dt = (select max(dt) from hive.historical.full_products_jmart_mapping where dt >= cast(current_date as varchar))", "insert into hive.products.linked_products_mapping select *, cast('done' as varchar) as data_copied from hive.historical.full_products_linked_products_mapping where dt = (select max(dt) from hive.historical.full_products_linked_products_mapping where dt >= cast(current_date as varchar))", "insert into hive.products.locus_batch_plan select *, cast('done' as varchar) as data_copied from hive.historical.full_products_locus_batch_plan where dt = (select max(dt) from hive.historical.full_products_locus_batch_plan where dt >= cast(current_date as varchar))", "insert into hive.products.notification select *, cast('done' as varchar) as data_copied from hive.historical.full_products_notification where dt = (select max(dt) from hive.historical.full_products_notification where dt >= cast(current_date as varchar))", "insert into hive.products.packaging select *, cast('done' as varchar) as data_copied from hive.historical.full_products_packaging where dt = (select max(dt) from hive.historical.full_products_packaging where dt >= cast(current_date as varchar))", "insert into hive.products.packer_table_mapping select *, cast('done' as varchar) as data_copied from hive.historical.full_products_packer_table_mapping where dt = (select max(dt) from hive.historical.full_products_packer_table_mapping where dt >= cast(current_date as varchar))", "insert into hive.products.partner_incentive_sales select *, cast('done' as varchar) as data_copied from hive.historical.full_products_partner_incentive_sales where dt = (select max(dt) from hive.historical.full_products_partner_incentive_sales where dt >= cast(current_date as varchar))", "insert into hive.products.partner_kapture_data select *, cast('done' as varchar) as data_copied from hive.historical.full_products_partner_kapture_data where dt = (select max(dt) from hive.historical.full_products_partner_kapture_data where dt >= cast(current_date as varchar))", "insert into hive.products.price_deal select *, cast('done' as varchar) as data_copied from hive.historical.full_products_price_deal where dt = (select max(dt) from hive.historical.full_products_price_deal where dt >= cast(current_date as varchar))", "insert into hive.products.pricing_zone_dc_mapping select *, cast('done' as varchar) as data_copied from hive.historical.full_products_pricing_zone_dc_mapping where dt = (select max(dt) from hive.historical.full_products_pricing_zone_dc_mapping where dt >= cast(current_date as varchar))", "insert into hive.products.pricing_zone_polygon_mapping select *, cast('done' as varchar) as data_copied from hive.historical.full_products_pricing_zone_polygon_mapping where dt = (select max(dt) from hive.historical.full_products_pricing_zone_polygon_mapping where dt >= cast(current_date as varchar))", "insert into hive.products.product_dimensions select *, cast('done' as varchar) as data_copied from hive.historical.full_products_product_dimensions where dt = (select max(dt) from hive.historical.full_products_product_dimensions where dt >= cast(current_date as varchar))", "insert into hive.products.product_issue select *, cast('done' as varchar) as data_copied from hive.historical.full_products_product_issue where dt = (select max(dt) from hive.historical.full_products_product_issue where dt >= cast(current_date as varchar))", "insert into hive.products.product_ownership select *, cast('done' as varchar) as data_copied from hive.historical.full_products_product_ownership where dt = (select max(dt) from hive.historical.full_products_product_ownership where dt >= cast(current_date as varchar))", "insert into hive.products.product_quality_issue select *, cast('done' as varchar) as data_copied from hive.historical.full_products_product_quality_issue where dt = (select max(dt) from hive.historical.full_products_product_quality_issue where dt >= cast(current_date as varchar))"]

In [221]:
insert_into[10]

"insert into hive.products.bunch_packing_qc_mapping select *, cast('done' as varchar) as data_copied from hive.historical.full_products_bunch_packing_qc_mapping where dt = (select max(dt) from hive.historical.full_products_bunch_packing_qc_mapping where dt >= cast(current_date as varchar))"